* {
	box-sizing: border-box;
}



#main-menu a {
	font-size: 24px;
	color: red;
	text-decoration: none;
	float: left;
	width: 25%;
	height: 100%;
	text-align: center;


}
#main-menu {
	
	width: 1000px;
	height: 56px;
	
}

#main-menu a:hover, #main-menu a.active{
	color:black;
}
.box {
	border: 1px solid #4dbfd9;
	border-radius: 10px;
	border-top-width: 5px;
	border-bottom-width: 5px;
	float: left;
	width: 33%;
	padding: 10px;
	margin: 1px;
	
}
img {
	border-radius: 10px;
	min-width: 100%;
}

span {
	color: #4dbfd9;
}

.wrap {
	max-width: 1000px;
	margin: auto;
}
.clear {
	clear: both;
}
.menu-phu {
	width: 80%;
	height: 100%;
	margin: auto;
}
.anh:hover {
	opacity: 0.5;
}


