.clock {
  background: #ececec;
  width: 300px;
  height: 300px;
  margin: 8% auto 0;
  border-radius: 50%;
  border: 14px solid #333;
  position: relative;
  box-shadow: 0 2vw 4vw -1vw rgba(0, 0, 0, 0.8);
}

.clock-1 {
  background: #ececec;
  width: 50px;
  height: 50px;
  margin: 8% auto 0;
  border-radius: 50%;
  border: 14px solid #333;
  position: absolute;
  top: 17%; 
  left: 43%;
}
.clock-2 {
  background: #ececec;
  width: 50px;
  height: 50px;
  margin: 8% auto 0;
  border-radius: 50%;
  border: 14px solid #333;
  position: absolute;
  top: 17%; 
  left: 51%;
}
.clock-3 {
  background: #ececec;
  width: 50px;
  height: 50px;
  margin: 8% auto 0;
  border-radius: 50%;
  border: 14px solid #333;
  position: absolute;
  top: 27%; 
  left: 47%;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ccc;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 10;
  box-shadow: 0 2px 4px -1px black;
}

.hour-hand {
  position: absolute;
  z-index: 5;
  width: 4px;
  height: 65px;
  background: #333;
  top: 79px;
  transform-origin: 50% 72px;
  left: 50%;
  margin-left: -2px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.minute-hand {
  position: absolute;
  z-index: 6;
  width: 4px;
  height: 100px;
  background: #666;
  top: 46px;
  left: 50%;
  margin-left: -2px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform-origin: 50% 105px;
}

.second-hand {
  position: absolute;
  z-index: 7;
  width: 2px;
  height: 120px;
  background: gold;
  top: 26px;
  lefT: 50%;
  margin-left: -1px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform-origin: 50% 125px;
}

span {
  display: inline-block;
  position: absolute;
  color: #333;
  font-size: 22px;
  font-family: 'Poiret One';
  font-weight: 700;
  z-index: 4;
}

.h12 {
  top: 30px;
  left: 50%;
  margin-left: -9px;
}

.h3 {
  top: 140px;
  right: 30px;
}

.h6 {
  bottom: 0px;
  left: 50%;
  margin-left: -5px;
}

.h9 {
  left: 32px;
  top: 140px;
}
.h12-1 {
  top: 8px;
  left: 59%;
  margin-left: -9px;
  font-size: 10px;
}

.h3-1 {
  top: 20px;
  right: 4px;
  font-size: 10px;
}

.h6-1 {
  bottom: 0px;
  left: 55%;
  margin-left: -5px;
  font-size: 10px;
}

.h9-1 {
  left: 4px;
  top: 20px;
  font-size: 10px;
}
.h12-2 {
  top: 8px;
  left: 59%;
  margin-left: -9px;
  font-size: 10px;
}

.h3-2 {
  top: 20px;
  right: 4px;
  font-size: 10px;
}

.h6-2 {
  bottom: 0px;
  left: 55%;
  margin-left: -5px;
  font-size: 10px;
}

.h9-2 {
  left: 4px;
  top: 20px;
  font-size: 10px;
}
.h12-3 {
  top: 8px;
  left: 59%;
  margin-left: -9px;
  font-size: 10px;
}

.h3-3 {
  top: 20px;
  right: 4px;
  font-size: 10px;
}

.h6-3 {
  bottom: 0px;
  left: 55%;
  margin-left: -5px;
  font-size: 10px;
}

.h9-3 {
  left: 4px;
  top: 20px;
  font-size: 10px;
}
.diallines {
  position: absolute;
  z-index: 2;
  width: 2px;
  height: 15px;
  background: #666;
  left: 50%;
  margin-left: -1px;
  transform-origin: 50% 150px;
}
.diallines-1 {
  position: absolute;
  z-index: 2;
  width: 2px;
  height: 8px;
  background: #666;
  left: 50%;
  margin-left: -1px;
  transform-origin: 50% 150px;
}
.diallines-2 {
  position: absolute;
  z-index: 2;
  width: 2px;
  height: 8px;
  background: #666;
  left: 50%;
  margin-left: -1px;
  transform-origin: 50% 150px;
}
.diallines-3 {
  position: absolute;
  z-index: 2;
  width: 2px;
  height: 8px;
  background: #666;
  left: 50%;
  margin-left: -1px;
  transform-origin: 50% 150px;
}
.diallines:nth-of-type(5n) {
  position: absolute;
  z-index: 2;
  width: 4px;
  height: 25px;
  background: #666;
  left: 50%;
  margin-left: -1px;
  transform-origin: 50% 150px;
}

.date {
  position: absolute;
  width: 120px;
  height: 20px;
  border-radius: 7px;
  background: #888;
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-size: 11px;
  top: 80px;
  left: 50%;
  margin-left: -60px;
  font-family: "Poiret One";
  font-weight: 700;
  z-index: 3;
  letter-spacing: 3px;
}

.day {
  position: absolute;
  width: 120px;
  height: 20px;
  border-radius: 7px;
  background: #888;
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-size: 11px;
  top: 200px;
  left: 50%;
  margin-left: -60px;
  font-family: "Poiret One";
  font-weight: 700;
  z-index: 3;
  letter-spacing: 3px;
}